env/
results/
datasets/*/*

recycle_bin/
**/__pycache__/*
**/logs/*
*/.cache/*
**/*plots*/*
**/results/*
*.egg-info/
*.pkl
*.log
.codex
build/


# Add best_chromosomes_curve, omit the rest of the checkpoints
checkpoints/*
!checkpoints/Undersampling/
checkpoints/Undersampling/*
!checkpoints/Undersampling/OriginalSpace/
checkpoints/Undersampling/OriginalSpace/*
!checkpoints/Undersampling/OriginalSpace/SSMAUnderSampler/
!checkpoints/Undersampling/OriginalSpace/SSMAUnderSampler/OpenML-CC18/
checkpoints/Undersampling/OriginalSpace/SSMAUnderSampler/OpenML-CC18/*
!checkpoints/Undersampling/OriginalSpace/SSMAUnderSampler/OpenML-CC18/ssma_run1/
checkpoints/Undersampling/OriginalSpace/SSMAUnderSampler/OpenML-CC18/ssma_run1/*
!checkpoints/Undersampling/OriginalSpace/SSMAUnderSampler/OpenML-CC18/ssma_run1/ssma_best_chromosomes_curve/ 